.map-container {
    position: relative;
    width: 100%;
   height: 94vh;
    
  }
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94vh;
    border: 0;
  }

  .relatorioBodyFundo{
    height: 94vh;
  }

  .bg-red {
    background-color: red;
  }

    #geral  {
    margin-top: 6vh;
  }

  .tt{
    z-index: 1000;
  }

  .bb{
    z-index: 0;
  }

  .lineHeight{
    margin-bottom: 0;
    height: fit-content;
  }